@model ICollection<User>
@{
    ViewBag.Title = "Users";
}
<form action="~/users/index" method="get">
    <h1>People</h1>
    <a href="~/users/create" class="ml">Create User</a>
    <table class="table w-100 mt persons">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Phone Number</td>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in @Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</form>